#toolbar {
    height: $toolbarHeight;
    min-height: $toolbarHeight;
    max-height: $toolbarHeight;
    z-index: 55 !important;

    #navigation-toggle {
        width: $toolbarHeight;
        min-width: $toolbarHeight;
        height: $toolbarHeight;
        margin: 0;
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 0;
    }

    #user-menu {
        height: $toolbarHeight;
        padding: 0;

        md-menu-item .md-button {
            font-size: 15px;

            md-icon {
                margin: auto 16px auto 0;
            }
        }

        .user-button {
            margin: 0;
            padding: 0 16px;
            height: $toolbarHeight;
            text-transform: none;

            .avatar-wrapper {
                position: relative;

                .status {
                    position: absolute;
                    bottom: -3px;
                    right: 5px;
                }
            }

            .username {
                margin: 0 12px 0 8px;
            }
        }
    }

    .toolbar-separator {
        height: $toolbarHeight;
        width: 1px;
        background: rgba(0, 0, 0, 0.12);
    }

    .publicToolbarLoginButton {
      padding-left: 20px;
      padding-right: 20px;
      span{
        cursor: pointer;
      }
    }
}

.account-settings{
  padding: 0;
  md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
    min-width: 0px !important;
    font-size: 14px;
    color: #6c6f77;
    padding: 14px 24px;
  }
}

.select-image{
    position: relative;
    width: 99px;
    margin: 0 auto;
    input{
        position: absolute;
        width: 99px;
        height: 99px;
        opacity: 0;
        z-index: 1;
    }
    img{
        width: 99px;
        height: 99px;
        opacity: 1;
        z-index: 0;
    }
    &:before {
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        font-size: 40px !important;
        width: 40px !important;
        height: 40px !important;
        min-width: 40px !important;
        min-height: 40px !important;
        line-height: 40px !important;
        content: "\e6e2";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: none;
    }
    .md-opaque{
        opacity: 0;
    }
    &:hover{
        .md-opaque{
            background: rgba(33,33,33,1.0) !important;
            opacity: 0.6;
        }
        &:before {
            display: block;
        }
    }
}
#modal-reset-password {
    height: 100%;
    background-size: cover;

    #reset-password-form-wrapper {
        flex: 1 0 auto;

        #reset-password-form {
            width: 384px;
            max-width: 384px;
            padding: 32px;
            text-align: center;
            background: #FFFFFF;

            .logo {
                width: 128px;
                height: 128px;
                line-height: 128px;
                font-size: 86px;
                font-weight: 500;
                margin: 32px auto;
                color: #FFFFFF;
                border-radius: 2px;
            }

            .title {
                font-size: 17px;
                margin: 16px 0 32px 0;
            }

            form {
                width: 100%;
                text-align: left;

                .submit-button {
                    width: 220px;
                    margin: 16px auto;
                    display: block;
                }
            }

            .login {
                margin: 32px auto 24px auto;
                width: 250px;
                font-weight: 500;

                .text {
                    margin-right: 8px;
                }

                .link {

                }
            }
        }
    }
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-xs) {

    #modal-reset-password {

        #reset-password-form-wrapper {
            padding: 16px;

            #reset-password-form {
                padding: 24px;
                width: 100%;

                form {

                    .md-button {
                        width: 90%;
                    }
                }
            }
        }
    }

}


// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-xs) {

    #toolbar {

        #user-menu {

            .user-button {
                min-width: 64px;
                padding: 0 2px 0 10px;
            }
        }
    }
}
