<md-dialog aria-label="Plan Details">
  <form ng-cloak name="planDetailsForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Plan Details</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()" ng-if="!subscribing">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="row" layout-align="space-between center" flex="100" layout-wrap>
          <div class="fist-input" layout="column" flex="100">
            <md-input-container>
              <label style="color: #000 !important">Plan:</label>
            </md-input-container>
            <label style="margin: 5px 0px 0px 2px;"><b ng-bind-html="planDetails.plan_name"></b></label>
          </div>
        </div>
        <div layout="row" layout-align="space-between center" flex="100" layout-wrap>
          <div class="fist-input" layout="column" flex="100">
            <md-input-container>
              <label style="color: #000 !important">What you'll get:</label>
            </md-input-container>
            <label style="margin: 5px 0px 0px 2px;"><b  ng-bind-html="planDetails.description"></b></label>
          </div>
        </div>
        <div layout="row" layout-align="space-between center" flex="100" layout-wrap>
          <div class="fist-input" layout="column" flex="100">
            <md-input-container>
              <label style="color: #000 !important">Amount:</label>
            </md-input-container>
            <label style="margin: 5px 0px 0px 2px;"><b>${{planDetails.amount || 0}} / Month</b></label>
          </div>
        </div>
      </div>
      <hr>
      <div ng-if="!subscribingWithPayPal">
        <div layout="row" layout-align="space-between center" flex="100" layout-wrap>
          <div class="fist-input" layout="column" flex="100">
            <md-input-container>
              <label style="color: #000 !important">Enter Credit Card Number</label>
              <input type="number" name="card_number" class="black-text" ng-model="cardDetails.card_number" style="color: #000 !important" required maxlength="16">
              <div ng-if="subscribtionError.card_number && subscribtionError.card_number[0]" style="color: rgb(213,0,0); !important">
                <div ng-bind="subscribtionError.card_number[0]"></div>
              </div>
            </md-input-container>
          </div>
        </div>
        <div layout="row" layout-align="space-between center" flex="100" layout-wrap>
          <div class="fist-input" layout="column" flex="100">
            <md-input-container>
              <label style="color: #000 !important">Enter CVV</label>
              <input type="number" name="cvv" class="black-text" ng-model="cardDetails.cvv" style="color: #000 !important" required maxlength="4">
              <div ng-if="subscribtionError.cvv && subscribtionError.cvv[0]" style="color: rgb(213,0,0); !important">
                <div ng-bind="subscribtionError.cvv[0]"></div>
              </div>
            </md-input-container>
          </div>
          <div class="fist-input" layout="column" flex="100">
            <md-input-container>
              <label style="color: #000 !important">Enter Expiry Date (mm/yy)</label>
              <input type="text" name="expire_date" class="black-text" ng-model="cardDetails.expire_date" style="color: #000 !important" required>
              <div ng-if="subscribtionError.expire_date && subscribtionError.expire_date[0]" style="color: rgb(213,0,0); !important">
                <div ng-bind="subscribtionError.expire_date[0]"></div>
              </div>
            </md-input-container>
          </div>
        </div>
      </div>
      <div ng-if="subscribingWithPayPal">
        <div class="">Please wait... While we redirect you to PayPal</div>
      </div>
      <hr>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <p ng-if="message" style="color: #EF5350" ng-bind="message"></p>
      <md-button ng-click="subscribeWithPayPal()" ng-disabled="subscribingWithPayPal">Subscribe With PayPal</md-button>
      <md-button ng-click="cancel()" ng-if="!subscribing">
        Cancel
      </md-button>
      <md-button class="md-raised md-primary" ng-if="!subscribing" ng-click="subscribeToPlan()">
        Subscribe
      </md-button>
      <md-button class="md-raised md-primary" ng-if="subscribing">
        Subscribing...
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>