<md-dialog id="lock-dlg">
	<div class="lock-icon-border">
		<i class="icon icon-lock-outline"></i>
	</div>
	<div class="desc">
		<span>
		  Please subscribe to see this artist's posts
		</span>
	</div>
	<md-button class="md-primary" ng-click="vm.follow($event)">
	   Follow
	</md-button>

	<!--<img src="assets/images/subscription/oohno-bground.png" layout-fill>-->
	<!--<md-button class="md-primary" ng-click="vm.follow()">-->
		<!--SUBSCRIBE-->
	<!--</md-button>-->
	<!--<md-button class="md-fab md-mini md-close" ng-click="vm.goback()">-->
		<!--<md-icon md-svg-icon="assets/images/ic_clear_black_24px.svg"></md-icon>-->
	<!--</md-button>-->
</md-dialog>